.nav {
  background-color: rgb(31 41 55);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  height: 4rem;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(249 115 22);
  margin: 3rem;
  padding-left: 0;
}

.buttonGroup {
  display: flex;
  margin-left: 1rem;
}

.navButton {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-bottom-width: 2px;
  font-size: 0.875rem;
  font-weight: 500;
  border-color: transparent;
  color: rgb(209 213 219);
}

.navButton:hover {
  color: white;
  border-color: rgb(209 213 219);
}

.navButton + .navButton {
  margin-left: 2rem;
}

.active {
  color: rgb(249 115 22);
  border-color: rgb(249 115 22);
}

.apiKeyContainer {
  margin-left: auto;
  padding: 0 1rem;
}

.apiKeyInput {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  width: 300px;
}

.apiKeyInput::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.apiKeyInput:focus {
  outline: none;
  border-color: #357abd;
  background: rgba(255, 255, 255, 0.15);
}
